.content {
  width: calc(100% - 40px);
  padding: 18px;
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.image-ch {
  width: 100%;
  height: 98px;
  position: relative;
  z-index: 1;
}

.image-ch img {
  position: absolute;
}

.text-ch {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
  background-color: #258ace;
}

.text-ch h2 {
  font-family: "Lato", sans-serif;
  color: rgb(228, 216, 216);
  font-size: 24px;
  font-weight: 580;
  text-transform: uppercase;
  line-height: 1.1;
}

.text-ch p {
  font-family: "Fira Sans", sans-serif;
  color: #e7dcdc;
  font-size: 16px;
  font-weight: 395;
  margin-top: 6px;
}

@media (max-width: 350px) {
  .image-ch img {
    width: calc(100vw - 78px);
    height: 100%;
  }
}
