.details-abt {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  height: calc(100vh - 20rem);
  overflow: auto;
}

.details-abt li {
  list-style: none;
  height: 68px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 580;
}

.details-abt li span:first-child {
  color: rgb(230, 216, 216);
}

.details-abts li span:last-child {
  color: rgba(216, 202, 202, 0.9);
}

.details-color-1 {
  background-color: rgba(26, 25, 25, 0.02);
}

.details-color-2 {
  background-color: rgba(14, 13, 13, 0.05);
}

@media (max-width: 600px) {
  .details-abt {
    height: 310px;
  }

  .coins-abt {
    width: calc(100% - 38px);
    font-size: 16px;
    font-weight: 480;
  }

  .details-cont li {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .details-cont li {
    font-size: 14px;
  }
}
