.coins-abt {
  width: calc(100% - 38px);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 1 12px 1px 12px;
  font-family: "Lato", sans-serif;
  background-color: #cfd5da;
  font-size: 15px;
  font-weight: 490;
  border: none;
  border-radius: 10px;
}

::placeholder {
  color: rgb(34, 33, 33);
}

.coin-card-1 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 20rem);
  overflow: auto;
}

@media (max-width: 600px) {
  .coin-card-1 {
    height: 310px;
  }

  .coins-abt {
    width: calc(100% - 38px);
    font-size: 16px;
    font-weight: 480;
  }
}
